[Unit]
Description=top logger per-minute

[Service]
ExecStart=/usr/lib/toplogger/toplogger.sh  # The script

[Install]
WantedBy=network.target  # Start looping as soon as the network starts, don't wait for multi-user