Package: toplogger
Version: 1.0.0
Section: base
Priority: optional
#Architecture: amd64
Architecture: all
Maintainer: inkVerb <toplogger@inkisaverb.com>
Depends: bash (>= 4.0)
Description: top logs per-minute